@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #522ffe;
  --card: #ffffff;
}

.dark {
  --background: #030304;
  --foreground: #ffffff;
  --primary: #522ffe;
  --card: #1d1d1d;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .card-shadow {
    @apply shadow-[0_3px_10px_rgb(0,0,0,0.2)];
  }

  .circle-icon {
    @apply flex items-center justify-center rounded-full w-11 h-11 md:w-14 md:h-14 bg-[#f4ebff] bg-opacity-[12%] absolute;
  }

  .highlight {
    @apply bg-primary text-white px-5 rounded-[4px];
  }

  .section-contents {
    @apply w-full flex flex-col items-center gap-10 md:gap-[50px];
  }

  .card {
    @apply bg-card rounded-lg card-shadow;
  }

  .contact-button {
    @apply p-1.5 rounded-md card-shadow flex items-center justify-center w-8 h-8;
  }
}
